.header {
    width: 100%;
    height: 70px;
    display: block;
    background-color: #f5deb3;
}

.banner {
    background: rgb(43,48,58);
    background: radial-gradient(circle, rgba(43,48,58,1) 0%, rgba(34,34,46,1) 100%);
    height: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    color: white;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 3rem;
}

.inner_header {
    width: 8.5in;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_cointainer {
    height: 100%;
    display: table;
    float: left;
}

.logo_cointainer a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: #2B303A;
}

.logo_cointainer h1 {
    color: #2B303A;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.navigation {
    color: #2B303A;
    float: right;
    height: 100%;
}

.navigation a {
    color: #2B303A;
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #2B303A;
}

@media (max-width: 8.5in) {
    .inner_header {
        width: 90%;
    }
}