:root { font: 20px/1.3 'Montserrat', sans-serif; }
/*https://fonts.google.com/specimen/IBM+Plex+Serif?selection.family=IBM+Plex+Serif&sidebar.open*/
body,
body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
    list-style: none;
}

figure * {
    display: block;
}